<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Class Room For Me</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<%= stylesheet_link_tag "room" %>
	
</head>
<body>
	<div class="container-fluid">
  
  <div class="row text-center intro">
    <h1>Class Room for Me</h1>
      <% if @is_free %>
          <% glyph = "glyphicon glyphicon-ok" %>
      <% else %>
          <% glyph = "glyphicon glyphicon-remove" %>
      <% end %>
      <span aria-hidden="true" class =  "<%= glyph %>"></span>
       <% if @is_free %>
          <p><%= @room_loc + " is not in use!" %></p>
        <% else %>
          <p><%= @room_loc + " is in use." %></p>
      <% end %>
  </div>
  
    <% if not @is_free %>
  <div class="row">
    <div class="card col-xs-12 col-sm-6 col-md-3">
        <h1><%= @unsat.typeS + " " + @unsat.code %></h1>
      <table>
        
        <tr>
          <th>starts: </th>
          <th><%= @unsat.start %></th>
        </tr>
        
        <tr>
          <th>ends: </th>
        <th><%= @unsat.end %></th>
        </tr>
        
        <tr>
          <th>weekday:</th>
            <th><%= @text_day %></th>
        </tr>
        
        <tr>
          <th>building: </th>
          <th><%= @room_loc %></th>
        </tr>
        
      </table>
    </div>
  </div>
    <% end %>
  
<div class="table">

    <div class="day">
      <h2>Monday</h2>

    <% @courses.each do |c| %>
      <% if c.days.include?("M") %>
      <div class="card">
          <h2><%= c.typeS %></h2>
        <p><%= c.start %></p>
        <span class="glyphicon glyphicon-arrow-down"></span>
        <p><%= c.end %></p>
      </div>
      <% end %>
    <% end %>

     </div>
    
     <div class="day">
      <h2>Tuesday</h2>

    <% @courses.each do |c| %>
      <% if c.days.include?("T") %>
      <div class="card">
        <h2><%= c.typeS %></h2>
        <p><%= c.start %></p>
        <span class="glyphicon glyphicon-arrow-down"></span>
        <p><%= c.end %></p>
      </div>
      <% end %>
      <% end %>

     </div>

     <div class="day">
      <h2>Wednesday</h2>

     <% @courses.each do |c| %>
      <% if c.days.include?("W") %>
      <div class="card">
        <h2><%= c.typeS %></h2>
        <p><%= c.start %></p>
        <span class="glyphicon glyphicon-arrow-down"></span>
        <p><%= c.end %></p>
      </div>
      <% end %>
      <% end %>

     </div>

     <div class="day">
      <h2>Thursday</h2>
      
      <% @courses.each do |c| %>
      <% if c.days.include?("H") %>
      <div class="card">
        <h2><%= c.typeS %></h2>
        <p><%= c.start %></p>
        <span class="glyphicon glyphicon-arrow-down"></span>
        <p><%= c.end %></p>
      </div>
      <% end %>
      <% end %>
      
     </div>

     <div class="day">
      <h2>Friday</h2>
      
      <% @courses.each do |c| %>
      <% if c.days.include?("F") %>
      <div class="card">
        <h2><%= c.typeS %></h2>
        <p><%= c.start %></p>
        <span class="glyphicon glyphicon-arrow-down"></span>
        <p><%= c.end %></p>
      </div>
      <% end %>
      <% end %>
      
     </div>

      </div>
    </div>

</body>

</html>